.container {
    max-width: 50em;
    padding: 1em;
    margin: 0 auto;
}

.section {
    margin: 2em 0;

    h2 {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 0.5em;
    }
}

.icon {
    width: 64px;
    height: 64px;
}
