@use "../pages/theme.scss";

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 1.5rem;

    h1 {
        font-weight: 300;
        font-size: 2rem;
    }

    svg {
        @include theme.theme(#616161, #fff);
        width: 10vw;
    }
}
