.container {
    display: grid;
    grid-template-columns: 10vw 1fr 1fr 1fr 10vw;
    grid-template-rows: min-content min-content 1fr;
    grid-template-areas:
        "padl about    about    about    padr"
        ".    activity activity projects ."
        ".    activity activity projects .";

    @media (max-width: 1000px) {
        grid-template-columns: 0 250px 2fr 300px 0;
    }

    @media (max-width: 600px) {
        grid-template-columns: 1fr;
        grid-template-areas:
            "about"
            "projects"
            "activity";

        .projects {
            border-bottom: 1px solid var(--g300);
        }

        .scratchList {
            max-width: 100%;
        }
    }
}

.about {
    grid-area: about;
    color: var(--g1200);
    background: var(--g300);
}

.activity {
    grid-area: activity;
}

.projects {
    grid-area: projects;
}

.padl {
    grid-area: padl;
    background: var(--g300);
}

.padr {
    grid-area: padr;
    background: var(--g300);
}

.scratchList {
    font-size: 0.8em;

    @media (min-width: 1500px) {
        --num-columns: 2;
    }
}

.yourScratchList {
    font-size: 0.8em;
}

.activity,
.projects {
    padding-top: 0;

    & > h2 {
        background: var(--g200);
        padding: 0.75em 0;

        font-weight: 500;
    }
}

.aboutColumnsContainer {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1em;

    @media (max-width: 600px) {
        display: block;

        > p {
            display: none;
        }
    }
}
