__pycache__
*.pyc
node_modules
build
.snowpack
backend/local_files/
backend/media/
backend/virtualenvs/
backend/docker.dev.env
postgres/
sandbox/
*.db
.DS_Store
.env.*
*.log
/frontend/*.tsbuildinfo
/frontend/.next
/frontend/.cache
/frontend/cache
/frontend/public/sw.*
/frontend/public/workbox-*
.vercel
