version: '2'
services:
  postgres:
    image: postgres:13
    environment:
      POSTGRES_USER: decompme
      POSTGRES_PASSWORD: decompme
    ports:
    - "5432:5432"
    volumes:
    - ./postgres:/var/lib/postgresql/data
  backend:
    build:
      context: backend
      args:
        # dont install wine32 etc by default
        ENABLE_PS1_SUPPORT: "NO"
        ENABLE_GAMECUBE_SUPPORT: "NO"
    cap_drop:
      - all
    cap_add:
      - setuid
      - setgid
      - setfcap
    environment:
      DATABASE_URL: psql://decompme:decompme@postgres:5432/decompme
      SECRET_KEY: "django-insecure-nm#!8%z$$hc0wwi#m_*l9l)=m*6gs4&o_^-e5b5vj*k05&yaqc1"
      DEBUG: "on"
      ALLOWED_HOSTS: "backend,localhost,127.0.0.1"
      USE_SANDBOX_JAIL: "on"
      COMPILER_BASE_PATH: /compilers
    ports:
    - "8000:8000"
    security_opt:
      - apparmor=unconfined
      - seccomp=unconfined
    volumes:
    - ./backend:/backend
    - type: tmpfs
      # Use a separate tmpfs to prevent a rogue jailed process
      # from filling /tmp on the parent container
      target: /sandbox/tmp
      tmpfs:
        size: 64M
  frontend:
    build: frontend
    environment:
      INTERNAL_API_BASE: http://backend:8000/api
    ports:
    - "8080:8080"
    volumes:
    - ./frontend:/frontend
    - .env:/.env
