[tool.poetry]
name = "backend"
version = "0.1.0"
description = ""
authors = ["Decomp.me team"]
license = "MIT"
package-mode = false

[tool.poetry.dependencies]
python = "^3.10"
django-cors-headers = "^4.6.0"
django-environ = "^0.11.2"
django-filter = "^24.3"
djangorestframework = "^3.15.2"
psycopg2-binary = "^2.9.10"
jwt = "^1.3.1"
PyGithub = "^2.5.0"
drf-extensions = "^0.7.1"
tzdata = "2024.2"
Pillow = "11.0"
html-json-forms = "^1.1.1"
django-resized = "^1.0.3"
django-cleanup = "^9.0.0"
m2c = {git="https://github.com/matt-kempster/m2c.git"}
asm-differ = {git="https://github.com/simonlindholm/asm-differ.git"}
sentry-sdk = "^2.19.0"
django-session-timeout = "^0.1.0"
django = "^5.1.3"
requests = "^2.32.3"
setuptools = "^75.6.0"
debugpy = "^1.8.13"

[tool.poetry.group.dev.dependencies]
black = "^24.10.0"
usort = "^1.0.8.post1"
django-stubs-ext = "^5.1.1"
django-stubs = "^5.1.1"
djangorestframework-stubs = "^3.15.1"
types-requests = "^2.32.0.20241016"
parameterized = "^0.9.0"
mypy = "^1.13.0"
responses = "0.25.3"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
extend-exclude = '^/(local_files)/'
