[tool.poetry]
name = "backend"
version = "0.1.0"
description = ""
authors = ["Decomp.me team"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.10"
django-cors-headers = "^4.3.1"
django-environ = "^0.10.0"
django-filter = "^23.5"
djangorestframework = "^3.14.0"
psycopg2-binary = "^2.9.9"
responses = "0.18.0"
jwt = "^1.3.1"
PyGithub = "^2.1.1"
drf-extensions = "^0.7.1"
tqdm = "^4.66.1"
tzdata = "^2023.3"
Pillow = "^10.1.0"
html-json-forms = "^1.1.1"
django-resized = "^1.0.2"
django-cleanup = "^8.0.0"
m2c = {git="https://github.com/matt-kempster/m2c.git"}
asm-differ = {git="https://github.com/ethteck/asm-differ.git", branch="mnemonic"}
sentry-sdk = "^1.39.1"
django-session-timeout = "^0.1.0"
django = "^5.0"
requests = "^2.31.0"

[tool.poetry.group.dev.dependencies]
black = "^23.12.0"
usort = "^1.0.7"
django-stubs-ext = "^4.2.7"
django-stubs = "^4.2.7"
djangorestframework-stubs = "^3.14.5"
types-requests = "^2.31.0.10"
parameterized = "^0.9.0"
mypy = "^1.7.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
extend-exclude = '^/(local_files)/'
