Django
PyGithub
ansiwrap
colorama
cxxfilt
django-cors-headers
django-environ
django-stubs
django-stubs-ext
djangorestframework
djangorestframework-stubs
mypy
psycopg2-binary
pycparser
python-Levenshtein
responses
types-requests
watchdog
