.btn {
    border-radius: 4px;
    padding: .6em 1em;

    font-size: .8rem;

    user-select: none;
    appearance: none;

    display: inline-flex;
    gap: .5em;
    align-items: center;

    background: transparent;
    color: inherit;
    border: 1px solid var(--g500);

    transition: color .2s ease, background .15s ease, border-color .15s ease;

    &:disabled {
        opacity: 0.7;
    }

    &:not(:disabled) {
        cursor: pointer;

        &:hover {
            border-color: var(--g800);
        }
    }
}

.primary {
    background: var(--accent);
    border-color: var(--a200);

    &:not(:disabled):hover {
        border-color: var(--a600);
    }
}
