.btn {
    border-radius: 4px;
    padding: 0.6em 1em;

    font-size: 0.8rem;
    font-weight: 500;

    white-space: nowrap;

    user-select: none;
    appearance: none;

    display: inline-flex;
    gap: 0.5em;
    align-items: center;

    background: transparent;
    color: var(--a800);
    border: 1px solid var(--g500);

    transition: color 0.2s ease, background 0.15s ease, border-color 0.15s ease;

    &:disabled {
        opacity: 0.7;
    }

    &:not(:disabled) {
        cursor: pointer;

        &:hover {
            color: var(--a900);
            border-color: var(--g800);
        }
    }
}

.primary {
    background: var(--accent);
    color: #fff;
    border-color: rgba(255, 255, 255, 0.2);

    &:not(:disabled):hover {
        color: #fff;
        border-color: rgba(255, 255, 255, 0.3);
    }
}
