
.options {
    display: none;
    color: var(--g1600);
    background: var(--g200);
    position: absolute;
    overflow-y: auto;
    max-height: 320px;
    z-index: 20;
    width: max-content;
    border-radius: 10px;

    &.open {
        display: block;
    }

    &.open:empty {
        display: none;
    }

    .option {
        color: var(--g1600);
        background: var(--g200);
        border-radius: 5px;

        width: 100%;
    }

    .option:hover {
        background: var(--g1600);
        color: var(--g200);

    }
}

.options::-webkit-scrollbar {
    width: 6px;
}

.options::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--g200);
    border-radius: 10px;
}

.options::-webkit-scrollbar-thumb {
    background: var(--g1600);
    border-radius: 10px;
}

.options::-webkit-scrollbar-thumb:hover {
    background: gray;
}

