.fieldset {
    border-radius: 6px;
    border: 1px solid var(--g400);
    overflow: hidden;

    user-select: text;

    font-size: 14px;
    line-height: 1.6;

    color: var(--g1700);
    background: var(--g200);

    > div {
        display: flex;
        flex-direction: column;
        gap: 1em;

        padding: 1.5em;
    }

    > footer {
        padding: 0.75em 1.5em;

        color: var(--g1300);
        background: var(--g250);

        border-top: 1px solid var(--g300);
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;

        display: grid;
        grid-template-columns: 1fr auto;
        gap: 1em;

        @media (max-width: 700px) {
            grid-template-columns: 1fr;
        }

        > div {
            display: flex;
            align-items: center;
            gap: 0.5em;
        }
    }
}

.label {
    font-size: 1.25em;
    font-weight: 500;

    color: var(--g2000);
}
