.footer {
    width: 100%;

    color: var(--g1400);
    cursor: default;

    font-size: calc(min(2vw, 1rem));

    svg {
        display: block;
    }
}

.main {
    padding: 1em;

    border-top: 1px solid var(--g300);
    border-bottom: 1px solid var(--g300);
    background: var(--g300);
}

.links {
    display: flex;
    justify-content: space-evenly;

    @media (max-width: 600px) {
        flex-direction: column;
        font-size: 0.8rem;
    }
}

.link {
    display: inline-flex;
    gap: 0.5em;
    align-items: center;
    padding: 0.5em;

    font-weight: 600;

    &:hover {
        text-decoration: underline;
    }

    svg {
        width: 1.4em;
        height: 1.4em;
    }
}

.commitHash {
    text-align: center;
    font-size: 0.7em;

    background: var(--g300);
    color: var(--g1000);
}
