.numberInput {
    border: 0;
    border-bottom: 1px dotted var(--g900);
    padding: 0.08em;

    cursor: text;
    user-select: none;

    &.disabled {
        cursor: default;
    }

    &:focus,
    &:not(.disabled):hover {
        outline: none;
        border-bottom-color: transparent;
        background: var(--g300);
    }
}
