.container {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.icon {
    width: 64px;
    height: 64px;
}

.descriptionTextarea {
    padding: 6px 10px;

    width: 100%;
    max-width: 50ch;

    border: 1px solid var(--g700);
    border-radius: 4px;
    background: transparent;
    outline: none !important;

    resize: none;

    cursor: auto;
    user-select: text;

    font-size: inherit;
    line-height: inherit;

    &:not(:disabled) {
        cursor: auto;
        transition: border-color 0.1s ease;

        &:focus {
            border-color: currentcolor;
        }
    }
}

.borderDanger {
    border-color: var(--danger);
    border-style: dashed;
}
