.empty {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    padding: 1em;

    color: var(--g800);
}

.searchBox {
    width: 100%;
}

.list {
    list-style: none;
    margin-top: 0.5em;

    // These inherited by .item
    border-color: var(--g300);
    border-radius: 6px;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5em;

    overflow: hidden;

    padding: 1em;
    margin: 0;

    border-top: 1px solid var(--g250);
    border-left: 1px solid inherit;
    border-right: 1px solid inherit;

    &:first-child {
        border-top: 1px solid inherit;
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
    }

    &:last-child {
        border-bottom: 1px solid inherit;
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
    }
}

.loadButton {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 0.5em;
}

.result {
    position: relative;

    line-height: 1.5;

    .header {
        display: grid;
        grid-template-columns: auto 1fr auto;
        align-items: center;
        gap: 0.5em;

        .name {
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 100%;
            overflow: hidden;
        }
    }

    .link {
        font-weight: 600;

        &:hover {
            color: var(--link);
        }
    }

    .actions {
        padding-top: 0.5em;

        display: flex;
        align-items: stretch;
        gap: 1.5em;

        font-size: 0.8em;
        color: var(--g800);

        > div,
        > a {
            > svg:first-child {
                margin-right: 0.25em;
                width: 1.15em;
                height: 1.15em;
            }
        }

        > a:hover {
            color: var(--link);
        }
    }

    /*
    .complexityBg {
        color: var(--g1000);
        font-weight: 500;

        align-self: center;

        @media (min-width: 800px) {
            position: absolute;
            top: 50%;
            right: 0.1em;
            transform: translateY(-50%);

            color: var(--g600);

            font-size: calc(min(10vw, 5em));
            font-weight: 200;

            z-index: -1;
        }
    }
    */
}
