.list {
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 2px;

    > li {
        padding: 6px;

        display: grid;
        grid-template-columns: 1fr auto;
        justify-items: start;

        color: var(--a800);

        .removeBtn {
            opacity: 0;
        }

        &:hover {
            border-radius: 6px;
            background: var(--g300);

            .removeBtn {
                opacity: 1;
            }
        }
    }
}

.removeBtn {
    padding: 4px;
    border-radius: 4px;
    border-color: transparent;
}
