.group {
    display: inline-flex;
    position: relative;

    background: var(--g200);
    color: var(--g1600);
    border: 1px solid var(--g400);

    border-radius: 4px;

    padding: 8px 10px;

    font-size: 0.8rem;

    user-select: none;
}

.group select {
    flex: 1;
    border: 0;
    background: transparent;
    appearance: none;
    outline: none !important;
    padding-right: 2em;
}

.group option,
.group optgroup {
    color: var(--g1600);
    background: var(--g200);
}

.icon {
    pointer-events: none;
    position: absolute;
    right: 0.6em;
    top: 50%;
    transform: translateY(-50%);
}
