.container {
    display: flex;
    flex-direction: column;

    flex: 1;
}

.tabButtons {
    position: relative;
    min-height: 48px;
    white-space: nowrap;
    overflow-x: auto;

    border-bottom: 1px solid var(--a100);
}

.tabButton {
    position: relative;

    display: inline-flex;
    gap: 0.5em;
    align-items: center;
    justify-content: center;

    padding: 0 12px;
    min-width: 60px;
    height: 100%;

    font-size: 0.8rem;
    font-weight: 500;

    user-select: none;
    appearance: none;

    color: var(--a600);
    background: transparent;
    border: 0;

    transition: color 0.2s ease;

    &:disabled {
        opacity: 0.7;
        pointer-events: none;
    }

    &:not(:disabled) {
        cursor: pointer;

        &:hover,
        &[aria-selected="true"] {
            color: var(--a900);
        }
    }

    // bottom border
    &[aria-selected="true"]::before {
        content: "";

        position: absolute;
        left: 8px;
        bottom: 0;

        width: calc(100% - 16px);
        height: 2px;

        background: var(--a1000);
    }

    &:first-child {
        margin-left: 8px;
    }

    &:last-child {
        margin-right: 8px;
    }
}

.tabButtonsBackground {
    position: absolute;
    top: 8px;
    height: calc(100% - 16px);
    pointer-events: none;

    transition: transform, width;

    // transform, width, transition-duration, opacity set by JS

    // must be separate element for a different transition-duration
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        background: var(--a200);
        border-radius: 4px;

        opacity: inherit;
        transition: opacity 0.1s;
    }
}

.tabPanel {
    flex: 1;

    display: none;

    &.active {
        display: flex;
    }
}

.tabPanelContent {
    flex: 1;
    overflow: hidden;
}
