.user {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.3em;

    vertical-align: bottom;
}

.user:any-link {
    cursor: pointer;
}

.user:any-link:hover {
    color: var(--link);
}

.avatar {
    border-radius: 999px;
    overflow: hidden;
    width: 1.25em !important;
    height: 1.25em !important;
}
