.container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    cursor: default;

    min-width: 300px;
    height: 100%;
}

.rule {
    border: 0;
    background: var(--g300);
    height: 1px;
    flex-shrink: 0;
}

.label {
    display: block;
    margin: 0;
    padding: 10px;

    color: var(--g1000);
    font-size: 0.9em;
    font-weight: 500;

    small {
        color: var(--g1000);
        font-size: 0.8em;
    }
}

.horizontalField {
    display: flex;
    align-items: center;

    .label {
        width: 100px;
        flex-shrink: 0;
    }

    a:hover {
        color: var(--link);
    }
}

.scratchLinkContainer {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    color: var(--g800);

    max-width: 400px;
}

.scratchLink {
    flex-shrink: 1;
    overflow: hidden;
    text-overflow: ellipsis;

    cursor: pointer;
    color: var(--g1400);

    &:hover {
        color: var(--g1700);
        text-decoration: underline;
    }
}

.scratchLinkByText {
    padding: 0 0.5ch;
}

.textArea {
    flex: 1;
    padding: 10px;

    border: 1px solid transparent;
    border-radius: 4px;
    background: transparent;
    outline: none !important;

    color: var(--g1800);
    resize: none;

    width: 100%;

    cursor: auto;
    user-select: text;

    &::-webkit-input-placeholder {
        color: var(--g500);
    }

    &:not(:disabled) {
        cursor: auto;
        transition: border-color 0.15s;

        &:hover,
        &:active {
            border-color: var(--g300);
        }
    }
}

.grow {
    display: flex;
    flex-direction: inherit;
    flex: 1;
}

.platformIcon {
    width: 1.5em;
    margin-right: 6px;
}

.projectLinks {
    a:last-child {
        color: var(--g800);
    }

    a:hover {
        color: var(--link);
    }
}
