.context {
    display: flex;
    flex-direction: column;
}

.editor {
    height: 100%;

    overflow: hidden;

    :global(.cm-editor) {
        height: 100%;
    }

    :global(.cm-gutters),
    :global(.cm-content) {
        margin: 1em;
    }

    :global(.cm-gutters) {
        margin-right: 0;
    }

    :global(.cm-content) {
        margin-left: 0;
    }
}

.diffTab {
    display: flex;
    overflow: hidden;
}

.about {
    padding: 16px;
    overflow: auto;
}

.compilerOptsTab {
    overflow: auto;
}

.compilerOptsContainer {
    min-width: 400px;
}
