.context {
    display: flex;
    flex-direction: column;
}

.editor {
    height: 100%;
}

.diffTab {
    display: flex;
    overflow: auto;
}

.about {
    padding: 16px;
    overflow: auto;
}

.compilerOptsTab {
    overflow: auto;
}

.compilerOptsContainer {
    min-width: 400px;
}
