$size: 64px;
$padding: 4px;

.toolbar {
    $innerSize: $size - $padding * 2;

    display: grid;
    grid-template-columns: $innerSize 1fr auto;
    align-items: stretch;
    justify-content: space-between;
    gap: $padding;

    width: 100%;

    padding: $padding;

    background: var(--g300);
}

.frog {
    padding: 10px;

    a {
        display: block;
        width: 100%;
        height: 100%;
    }
}

.right {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    padding: 10px;
}

.columnSpaceAround {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.name {
    padding: 4px;

    border: 0;
    background: transparent;
    outline: none !important;

    color: var(--g2000);

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    text-align: center;

    &.editable {
        cursor: text;
    }

    &[contenteditable] {
        text-overflow: initial;
    }

    &.editable:hover,
    &[contenteditable] {
        background: var(--g200);
    }
}

.breadcrumbs {
    padding: 0 $padding;

    display: flex;
    align-items: center;
}

.actions {
    $gap: 4px;

    list-style: none;

    font-size: 12px;

    display: flex;
    gap: 8px;

    @media (max-width: 800px) {
        flex-direction: column;
        gap: $gap;
    }

    > ul {
        // On same line on large widths
        @media (min-width: 800px) {
            display: inline-flex;
            align-items: center;

            // Separator
            &:not(:last-child) {
                &::after {
                    content: "";
                    display: inline-block;
                    width: 1px;
                    height: 1em;
                    margin-left: $gap;
                    background: var(--g500);
                }
            }
        }

        > li {
            display: inline-block;

            color: var(--g1900);
            cursor: pointer;

            button,
            a {
                display: flex;
                align-items: center;
                gap: 4px;
                padding: 4px 8px;

                cursor: pointer;

                background: none;
                border: 0;

                svg {
                    width: 1em;
                    color: var(--g1200);
                }

                &[disabled] {
                    color: var(--g700);
                    cursor: default;

                    svg {
                        color: inherit;
                    }
                }

                &:not([disabled]):hover {
                    border-radius: 4px;
                    color: var(--g2000);
                    background: var(--g400);
                }
            }
        }
    }
}

.iconNamePair {
    display: flex;
    align-items: center;
    gap: 4px;
}

.actionsContainer {
    display: flex;
    align-items: center;
    gap: 12px;
}

.lastEditTime {
    font-size: 12px;
    color: var(--g1200);

    @media (max-width: 800px) {
        display: none;
    }
}

.owner {
    line-height: 20px;
    padding: 4px 0;

    position: relative;

    .ownerAvatar {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }

    &::before {
        content: "";
        display: inline-block;
        width: 26px;
    }
}

// Hide owner name and breadcrumb separator, i.e. just show the owner avatar
@media (max-width: 600px) {
    .breadcrumbs li::before {
        visibility: hidden;
        margin: 0 !important;
    }

    @media (max-width: 800px) {
        .ownerName {
            display: none;
        }

        .owner::before {
            width: 20px;
        }
    }
}
