.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    > hr {
        margin: 0;
        border: 0;
        border-top: 1px solid var(--g500);
    }
}

.context {
    display: flex;
    flex-direction: column;
}

.editor {
    display: flex;
    align-items: stretch;

    width: 100%;
    height: 100%;

    :global(.cm-editor) {
        flex: 1 1 auto;
        width: 100%;
    }

    :global(.cm-scroller) {
        overflow: auto;
    }
}

.diffTab {
    display: flex;
    overflow: hidden;
}

.about {
    padding: 16px;
    overflow: auto;
}

.compilerOptsTab {
    overflow: auto;
}

.compilerOptsContainer {
    min-width: 400px;
}


.ProgressRoot {
    position: relative;
    overflow: hidden;
    background: var(--g400);
    width: 100%;
    height: 0.2em;

    /* Fix overflow clipping in Safari */

    /* https://gist.github.com/domske/b66047671c780a238b51c51ffde8d3a0 */
    transform: translateZ(0);
}

.ProgressIndicator {
    background-color: #a855f7;
    width: 100%;
    height: 100%;
    transition: 660ms cubic-bezier(0.65, 0, 0.35, 1);
}
