@import "../Nav/Nav.module.scss";

.toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    min-height: 40px; // SSR has no buttons

    gap: 4px;
    padding: 0 4px;

    background: var(--g300);
    //border-bottom: 1px solid var(--a100);

    @media screen and (min-height: 800px) {
        gap: 8px;
        padding: 8px;
        height: 48px;
    }
}

.left,
.center,
.right {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 4px;

    height: 100%;

    @media screen and (min-height: 800px) {
        gap: 8px;
    }
}

.center {
    justify-content: center;
    overflow: hidden;

    @media (min-width: 800px) {
        flex-basis: 50%;
    }
}

.left {
    justify-content: flex-start;

    @media (min-width: 800px) {
        flex-basis: 25%;
    }
}

.right {
    flex-basis: 25%;
    justify-content: flex-end;
}

.name {
    padding: 4px;

    border: 0;
    background: transparent;
    outline: none !important;

    font-size: 0.9em;
    color: var(--g1800);

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    text-align: center;

    &.editable {
        cursor: text;
    }

    &[contenteditable] {
        text-overflow: initial;
    }

    &.editable:hover,
    &[contenteditable] {
        background: var(--g250);
    }
}

.icons {
    flex-shrink: 0;

    display: flex;
    flex-direction: row;

    height: 100%;
    padding: 4px 0;

    &:first-child {
        padding-left: 8px;
    }

    svg {
        height: 100%;
    }
}

.iconButton {
    @extend .logo;

    color: var(--g1400);
    height: 100%;

    display: flex;
    align-items: center;

    cursor: pointer;
}

.loginState {
    flex-shrink: 0;
}
