$column_width: 260px;

.toolbar {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;

    min-height: 40px; // SSR has no buttons

    font-size: 90%;

    padding: 0 4px;

    background: var(--g400);
    //border-bottom: 1px solid var(--a100);

    @media screen and (min-height: 800px) {
        gap: 8px;
        padding: 8px;
        height: 48px;
    }
}

.left,
.center,
.right {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 4px;

    @media screen and (min-height: 800px) {
        gap: 8px;
    }

    min-width: $column_width;
}

.center {
    justify-content: center;
    overflow: hidden;
}

.left,
.right {
    flex-shrink: 0;
}

@media (max-width: ($column_width * 3)) {
    .center {
        min-width: $column_width * 0.5;
    }
}

@media (max-width: ($column_width * 2.5)) {
    .left,
    .right,
    .center {
        min-width: 0;
    }

    .search {
        display: none;
    }
}

@media (max-width: ($column_width * 2)) {
    .right > button,
    .right > .iconButton {
        // Button actions are available in frog menu as alternative
        display: none;
    }

    .left,
    .right {
        min-width: 60px;
    }
}

.grow {
    flex: 1;
}

.name {
    padding: 4px;

    border: 0;
    background: transparent;
    outline: none !important;

    font-size: 0.9em;
    color: var(--g1800);

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    text-align: center;

    &.editable {
        cursor: text;
    }

    &[contenteditable] {
        text-overflow: initial;
    }

    &.editable:hover,
    &[contenteditable] {
        background: var(--g300);
    }
}

.icons {
    flex-shrink: 0;

    display: flex;
    flex-direction: row;
    align-items: center;

    height: 100%;
    padding: 4px 0;

    &:first-child {
        padding-left: 8px;
    }

    svg {
        height: 100%;
    }
}

.iconButton {
    color: var(--g1400);
    height: 100%;

    display: flex;
    align-items: center;

    padding-left: 4px;

    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}

.loginState {
    flex-shrink: 0;
}
