.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.resizer {
    flex: 1;
    overflow: hidden;
}

.context {
    display: flex;
    flex-direction: column;
}

.diffSection {
    display: flex;
    flex-direction: column;

    scrollbar-color: #fff3 transparent;
    scrollbar-width: thin;
}

.chooseACompiler {
    display: flex;
    flex-direction: column;
}

.chooseACompilerActions {
    padding: 1em;
    align-self: center;
}

.editor {
    height: 100%;
}

.toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: initial;

    gap: 4px;
    padding: 4px;

    background: var(--g300);
    border-bottom: 1px solid var(--a100);

    @media screen and (min-width: 800px) and (min-height: 800px) {
        gap: 8px;
        padding: 8px;
    }
}

.scratchName {
    flex: 1;
    min-width: 0;
    height: 100%;
    padding: 4px 8px;

    border: 1px solid transparent;
    border-radius: 4px;
    background: transparent;
    outline: none !important;

    color: var(--g1800);

    text-overflow: ellipsis;

    transition: border-color 0.15s;

    &::-webkit-input-placeholder {
        color: var(--g800);
    }

    &:not(:disabled) {
        &:hover,
        &:active {
            border-color: var(--g400);
        }
    }
}

// DERIVED FROM .scratchName
.trainingScratchHeaderContainer {
    flex: 1;

    &.completed {
        background-color: green;
    }
}
.trainingScratchHeader {
    display: flex;
    justify-content: center;
    min-width: 0;
    width: 100%;
    height: 100%;
    margin-top: 10px;
    margin-bottom: 10px;

    font-size: 32px;

    color: var(--g1800);
    text-overflow: ellipsis;

    &.trainingScratchHeaderDescription {
        font-size: 20px;
        color: var(--g1400);
        margin-bottom: 30px;
    }
}

.trainingScratchButtonList {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px;
    margin-bottom: 10px;
}

.diffTab {
    display: flex;
    overflow: auto;
}

.about {
    padding: 16px;
    max-width: 500px;
}
