.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.toolbar {
    display: flex;
    padding-bottom: var(--s1);
    padding-top: var(--s1);
    align-items: center;
    justify-content: space-evenly;
}

.resizer {
    flex: 1;
    overflow: hidden;
}

.context, .sourceCode {
    display: flex;
    flex-direction: column;
}

.sectionHeader {
    font-size: 1rem;
    font-weight: 600;

    user-select: none;
    cursor: default;

    height: 3em;
    padding: .5rem;
    padding-left: 1rem;
    background: #2e353f;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .25em;

    box-shadow: 0 0 8px 0 #00000044;
    z-index: 1;
}

.grow { flex: 1 }

.diffSection {
    display: flex;
    flex-direction: column;

    scrollbar-color: #ffffff33 transparent;
    scrollbar-width: thin;
    background: #14161a;
}

.diffSection .sectionHeader {
    background: #1b1e22;
}

.diffExplanation {
    opacity: 0.0;
    transition: opacity 100ms ease-out;
    word-wrap: no-wrap;
}

.diffExplanation.visible {
    opacity: 0.3;
}

.diffExplanation.visible:hover {
    opacity: 1.0;
}

.output {
    padding: 1em;
    flex: 1;
    overflow: auto;
    user-select: text;
}

.compiling :global(.octicon) {
    animation: spin 1s infinite linear;
    animation-fill-mode: forwards;
    transform: rotate(0deg);
    transform-origin: 7.4px 7.7px;
}

@keyframes spin {
    from { transform: rotate(0deg) }
    to { transform: rotate(-330deg) }
}

.metadata {
    font-size: 0.8em;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    padding-left: 1rem;
    gap: 1em;

    color: #ffffff88;
    cursor: default;
}

.metadata a {
    color: #ffffffcc;
}

.metadata > div {
    display: flex;
    gap: 1ch;
    align-items: center;
}
