.user {
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 1px;
    padding: 0 2px;

    // Override <button>
    background: none;
    border: none;
}

.avatar {
    border-radius: 24px;
    width: 24px;
    height: 24px;
}
