.nav {
    flex: 0;
    width: 100%;

    user-select: none;

    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 0.5em;

    padding: 4px;

    background: var(--g400);
    //border-bottom: 1px solid var(--g600);

    font-size: 90%;
    font-weight: 600;

    @media screen and (min-height: 800px) {
        padding: 8px;
    }
}

.item {
    display: flex;
    align-items: center;

    padding: 0 8px;

    opacity: 1;

    &:hover {
        opacity: 0.8;
    }
}

.logo {
    @extend .item;

    margin: 0 0.5vw;
    padding: 0;

    svg {
        pointer-events: none;
    }

    /* Frog blinks when you load the page or stop hovering */
    &:not(:hover) {
        @keyframes blink {
            0% {
                transform: scaleY(1);
                opacity: 1;
            }

            25% {
                transform: scaleY(0.2);
                opacity: 0;
            }

            50% {
                transform: scaleY(1);
                opacity: 1;
            }

            75% {
                transform: scaleY(0.2);
                opacity: 0;
            }

            100% {
                transform: scaleY(1);
                opacity: 1;
            }
        }

        :global(.frog_svg__pupilR),
        :global(.frog_svg__pupilL),
        :global(.frog_svg__eyeR),
        :global(.frog_svg__eyeL) {
            transform-origin: 0 7px;
            animation: blink 0.4s 2s ease;

            @media (prefers-reduced-motion) {
                animation: none;
            }
        }
    }
}

.grow {
    flex: 1;
}

.search {
    flex-basis: 25%;
    min-width: 200px;
    max-width: 300px;
}

.right {
    justify-self: flex-end;
}
