$innerSize: 32px;
$padding: 8px;

.container {
    width: 100%;
    user-select: none;
    background: var(--g300);

    ul {
        list-style: none;
    }
}

.header {
    height: $innerSize;
    padding: $padding;
    box-sizing: content-box;

    display: grid;
    grid-template-columns: 1fr $innerSize 1fr;
    grid-template-areas: "menutoggle sitelogo loginstate";
    justify-content: space-between;

    & > li {
        height: $innerSize;
    }
}

.headerItemMenuToggle {
    grid-area: menutoggle;

    & > button {
        width: $innerSize;
        height: $innerSize;
        border: none;
        background: transparent;
        border-radius: 4px;
        cursor: pointer;
    }
}

.headerItemLoginState {
    grid-area: loginstate;

    display: flex;
    justify-content: flex-end;

    padding-left: 12px;
}

.headerItemSiteLogo {
    grid-area: sitelogo;

    a {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 100%;
    }

    &:not(:hover) {
        @keyframes blink {
            0% {
                transform: scaleY(1);
                opacity: 1;
            }

            25% {
                transform: scaleY(0.2);
                opacity: 0;
            }

            50% {
                transform: scaleY(1);
                opacity: 1;
            }

            75% {
                transform: scaleY(0.2);
                opacity: 0;
            }

            100% {
                transform: scaleY(1);
                opacity: 1;
            }
        }

        :global(.frog_svg__pupilR),
        :global(.frog_svg__pupilL),
        :global(.frog_svg__eyeR),
        :global(.frog_svg__eyeL) {
            transform-origin: 0 7px;
            animation: blink 0.4s 2s ease;

            @media (prefers-reduced-motion) {
                animation: none;
            }
        }
    }
}

.menu {
    position: absolute;
    left: 0;
    right: 0;

    z-index: 100;

    width: 100%;
    height: calc(100vh - $innerSize - 16px);

    overflow: auto;

    background: var(--g300);

    .container[data-open="false"] & {
        display: none;
        visibility: hidden;
    }
}

.searchContainer {
    padding: $padding;
    border-bottom: 1px solid var(--g500);
}

.search {
    width: 100%;
}

.links {
    padding: 0 $padding;

    > li {
        padding: 1.5 * $padding;

        &:not(:last-child) {
            border-bottom: 1px solid var(--g500);
        }

        a {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
}

.links > li > a,
.desktopLinks > ul > li > a {
    color: var(--g2000);
    font-weight: 500;

    &:hover {
        color: var(--g1700);
    }
}

.desktopLinks {
    grid-area: desktoplinks;

    font-size: 0.85rem;
    margin-left: $padding;

    display: flex;
    align-items: center;

    > ul {
        display: flex;
        align-items: center;
        gap: 1em;

        > li {
            height: $innerSize;

            display: flex;
            align-items: center;
        }
    }

    .container[data-force-toggle="false"] & {
        display: none;
    }
}

// on mobile
@media (max-width: 700px) {
    body:has(.container[data-open="true"]) {
        // Disable scrolling
        overflow: hidden;
    }
}

.customchildren {
    display: none;
}

// has custom children
.container[data-force-toggle="true"][data-open="false"] .header {
    grid-template-columns: $innerSize 1fr auto;
    grid-template-areas: "menutoggle customchildren loginstate";

    .headerItemSiteLogo {
        display: none;
    }

    .customchildren {
        grid-area: customchildren;
        justify-self: center;

        display: flex;
        align-items: center;
        width: 100%;
    }
}

@media (min-width: 700px) {
    // no toggle menu
    .container[data-force-toggle="false"] {
        .header {
            grid-template-columns: $innerSize auto 1fr;
            grid-template-areas: "sitelogo desktoplinks loginstate";
        }

        .headerItemMenuToggle,
        .menu {
            display: none;
        }

        .desktopLinks {
            display: flex;
        }
    }
}
