.header {
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    padding: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    background: #292e35;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.container {
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    padding: 1.5em;
    background: #22272d;
}

.header:not([data-is-popup]), .container:not([data-is-popup]) {
    border-radius: 0;
    background: transparent;
    border-bottom: 1px solid #2f3136;
}

.row {
    display: flex;
}

.compilerSelect {
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;;
}

.textbox {
    flex: 1;

    background: #00000044;
    box-shadow: 0 2px 16px #00000022;
    border: 0;
    color: #0AFAFA;

    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;

    font-family: monospace;
    font-size: .8rem;

    padding: .6em 1em;
}

.flags {
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
    margin-top: 1em;
}

.flag {
    flex-grow: 1;
    display: inline-block;
    cursor: default;
    padding: .75em;
    border-radius: .5em;
}

.flag:hover {
    background: #00000022;
}

.flag label {
    font-size: .9rem;
    margin-left: .5em;
}

.flag input {
    pointer-events: none;
}

.flagDescription {
    display: block;
    font-size: 0.8em;
    opacity: 0.5;
}

.flagSet {
    flex-grow: 1;

    display: inline-flex;
    flex-direction: column;

    width: 20em;
    border-radius: .5em;
}

.flagSetName {
    cursor: default;
    font-size: .8rem;
    padding: .6em 1em;
    padding-bottom: .2em;
    opacity: 0.5;
}
