.container {
    display: flex;
    flex-direction: column;
    gap: 1em;

    max-width: 50em;
    padding: 1em;
    margin: 0 auto;

    cursor: default;

    > h2 {
        color: var(--g1400);
        font-weight: 600;

        svg {
            margin-right: 0.4em;
        }
    }
}

.loadingContainer {
    display: flex;
    padding: 1em 0;
    gap: 1em;
    align-items: center;
    justify-content: center;
}

.header {
    background: var(--g300);
    user-select: auto;
    align-self: stretch;

    .headerInner {
        max-width: 50em;
        padding: 1em;
        margin: 0 auto;

        display: flex;
        flex-direction: column;
        gap: 0.25em;
    }

    h1 {
        color: var(--g1900);
        font-size: 1.7em;
        font-weight: 500;

        display: flex;
        align-items: center;
        gap: 0.25em;
    }

    p {
        padding-top: 4px;
        color: var(--g1000);
        font-size: 0.9em;
        max-width: 50ch;
        white-space: pre-line;
    }
}

.headerActions {
    display: flex;
    gap: 0.5em;
    align-items: center;

    small {
        font-size: 0.8em;
        color: var(--g1000);
    }
}

.links {
    display: flex;
    align-items: center;
    gap: 1em;

    a {
        display: inline-flex;
        align-items: center;
        gap: 0.5ch;

        color: var(--g1700);

        &:hover {
            text-decoration: underline;
        }
    }
}
