@use "./theme.scss" as theme;

:root {
    --link: #3db8e9;
}

.themePlum {
    @include theme.theme(#951fd9, #292f33);
}

html {
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    line-height: 1.5;
    text-rendering: optimizeQuality;
    overflow: hidden;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-size: inherit;
    font-family: inherit;
}

* {
    margin: 0;
    padding: 0;
    color: inherit;
    text-decoration: inherit;
}

body {
    background: var(--g200);
    color: var(--a800);

    line-height: 1.25;
    overflow-x: hidden;
    user-select: none;
    position: relative;
}

html,
body {
    height: 100%;
}

#__next {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow-x: hidden;
    position: relative; // squashes react-laag warning
}

#layers {
    z-index: 999;
}

main {
    flex: 1;
    width: 100%;
}

::selection {
    background: var(--a100);
}

.routerProgressBar {
    z-index: 999;
}

div {
    scrollbar-color: #fff3 transparent;
    scrollbar-width: thin;
}
