@use "./theme.scss" as theme;

:root {
    --link: #58a6ff;
    --monospace: "Menlo", "Monaco", monospace;
    --font-ui: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Helvetica", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

.theme-dark {
    @include theme.theme(#951fd9, #292f33);
}

.theme-light {
    @include theme.theme(#951fd9, #ffffff);
}

html {
    font-size: 16px;
    font-family: var(--font-ui);
    line-height: 1.5;
    text-rendering: optimizequality;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-size: inherit;
    font-family: inherit;
}

* {
    margin: 0;
    padding: 0;
    color: inherit;
    text-decoration: inherit;
}

body {
    background: var(--g300);
    color: var(--a800);

    line-height: 1.25;
    user-select: none;
    position: relative;
}

html,
body {
    height: 100%;
}

body:not(.device-macos) {
    scrollbar-color: #fff3 #fff1;
    scrollbar-width: thin;

    ::-webkit-scrollbar {
        background-color: transparent;
        width: 0.6rem;
        height: 0.6rem;
    }

    ::-webkit-scrollbar-track,
    ::-webkit-scrollbar-corner {
        background-color: #fff1;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #fff3;
    }

    ::-webkit-scrollbar-button {
        display: none;
    }
}

#__next {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    //overflow-x: hidden;
    position: relative; // squashes react-laag warning
}

#layers {
    z-index: 999;
}

main {
    flex: 1;
    width: 100%;
}

main,
footer {
    background: var(--g200);
}

::selection {
    background: var(--a100);
}

.routerProgressBar {
    z-index: 999;
}

body.no-scroll {
    overflow: hidden;

    #__next {
        height: 100svh;
    }
}
