.container {
    display: grid;
    grid-template-columns: 10vw 1fr 1fr 1fr 10vw;
    grid-template-rows: min-content min-content 1fr;
    grid-template-areas:
        "padl about    about    about    padr"
        ".    activity activity projects ."
        ".    activity activity projects .";

    @media (max-width: 1000px) {
        grid-template-columns: 0 250px 2fr 300px 0;
    }

    @media (max-width: 600px) {
        grid-template-columns: 250px 1fr 250px;
        grid-template-areas:
            "about about about"
            "projects projects projects"
            "activity activity activity";

        .projects {
            border-bottom: 1px solid var(--g300);
        }

        .scratchList {
            max-width: 100%;
        }
    }
}

.about,
.activity,
.projects {
    padding: 1em;

    > h1 {
        font-weight: 300;
    }

    > h2 {
        font-weight: 400;
    }

    @media (min-width: 900px) {

        //justify-self: center;
    }
}

.about {
    grid-area: about;
    background: var(--g300);

    h1 {
        color: var(--g1900);
        font-size: 1.25em;
        font-weight: 300;

        .siteName {
            font-weight: 500;
        }
    }

    p {
        padding-top: 4px;
        color: var(--g1000);
        font-size: 0.9em;
        max-width: 40ch;
    }

    .cta {
        padding-top: 1em;

        display: flex;
        align-items: stretch;
        gap: 0.5em;
    }
}

.activity {
    grid-area: activity;
}

.projects {
    grid-area: projects;
}

.padl {
    grid-area: padl;
    background: var(--g300);
}

.padr {
    grid-area: padr;
    background: var(--g300);
}

.scratchList {
    font-size: 0.8em;

    @media (min-width: 1500px) {
        --num-columns: 2;
    }
}

.yourScratchList {
    font-size: 0.8em;
}

.activity,
.projects {
    padding-top: 0;

    & > h2 {
        position: sticky;
        top: 0;

        background: var(--g200);
        padding: 0.75em 0;

        z-index: 1;

        font-weight: 500;
    }
}

.projectList {
    font-size: 0.9em;
    max-width: 300px;

    list-style: none;

    > li {
        padding: 1em 0;

        &:last-child {
            padding-bottom: 0;
        }
    }
}

.projectLink {
    display: flex;
    gap: 0.3em;

    font-weight: 500;

    &:hover {
        color: var(--link);
    }
}

.loadMoreLink {
    font-size: 0.8em;
    color: var(--g1000);

    &:hover {
        color: var(--link);
    }
}
