.container {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100%;
    cursor: default;

    background: var(--g200);
}

.container p {
    padding-bottom: 1em;
    line-height: 1.5;
}

.card {
    padding: 2em;
    border-radius: 1em;
    background: #14161a;
}

.error {
    color: #f86;
}

.loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

    color: var(--g1100);
}
