.container {
    margin: 0 auto;
    max-width: 49em;
    padding: 0 1em;

    user-select: text;

    h1 {
        color: var(--g1900);
        font-size: 1.5em;
        font-weight: 500;
    }

    p {
        padding-top: 4px;
        color: var(--g1000);
        font-size: 0.9em;
        max-width: 50ch;
    }
}

.header {
    background: var(--g300);
    padding: 1em;
    align-self: stretch;
}

.projectList {
    list-style: none;

    > li {
        margin: 1em 0;
        border: 1px solid var(--g400);
        border-radius: 8px;
        overflow: hidden;

        color: var(--g1800);
        background: var(--g200);

        a:hover {
            text-decoration: underline;
        }

        .projectLink {
            font-size: 24px;
            font-weight: 500;
            text-decoration: none;

            display: flex;
            align-items: center;
            gap: 20px;
        }

        > div {
            padding: 1rem;
            font-size: 14px;

            border-top: 1px solid var(--g300);

            &:first-child {
                border-top: 0;
                background-color: var(--g300);
            }
        }

        .metadata {
            color: var(--g1400);
            font-size: 12px;

            display: flex;
            gap: 24px;

            @media (max-width: 700px) {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 8px;
            }

            @media (max-width: 400px) {
                grid-template-columns: 1fr;
            }

            .platform,
            .repo {
                display: flex;
                align-items: center;
                gap: 4px;
            }
        }

        .description {
            white-space: pre-line;
        }
    }

    .loadMoreLink {
        button {
            border: 0;
            background: var(--g200);

            width: 100%;
            padding: 0.5rem;

            text-align: center;
            font-size: 14px;

            &[data-is-loading="false"] {
                cursor: pointer;

                &:hover {
                    background: var(--g300);
                }
            }

            svg {
                width: 1em;
                height: 1em;
            }
        }
    }
}
