$pad: .5rem;

.container {
    display: flex;
    flex-direction: column;
    gap: 1em;

    max-width: 40em;
    padding: 1em;

    user-select: auto;
}

.rule {
    border: 0;
    background: var(--g400);
    height: 1px;
}

.heading {
    padding: $pad;

    > h1 {
        color: var(--g1900);
        font-size: 1.25em;
        font-weight: 500;
    }

    > p {
        color: var(--g1000);
        font-size: .9em;
    }
}

.label {
    display: block;
    margin: 0;
    padding: $pad;

    color: var(--g1700);
    font-size: .9em;
    font-weight: 600;

    small {
        color: var(--g1000);
        font-size: .8em;
    }
}

.textInput {
    width: 100%;
    padding: $pad;

    color: var(--g1200);
    background: var(--g200);
    font: .8em monospace;
    border: 1px solid var(--g500);
    border-radius: 4px;
}

.asmEditor {
    @extend .textInput;
    min-height: 8em;
    resize: vertical;
}

.actions {
    display: flex;
    gap: .5em;
    align-items: center;
    padding: var(--s2);
}

.actionspacer {
    flex: 1;
}

.errormsg {
    padding-left: var(--s2);
    padding-right: var(--s2);
    max-height: 8em;
    overflow: auto;
    flex: 1;
    font-family: monospace;
    white-space: pre;
}
