.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    cursor: default;

    overflow: auto;
}

.card {
    border-radius: 1em;
    background: #14161a;
    box-shadow: 0 0.1em 8px rgba(0, 0, 0, 0.5);

    width: calc(var(--s1) * 40);
    max-width: 100%;
    height: calc(var(--s1) * 30);
    overflow: hidden;

    display: flex;
    flex-direction: column;
}


.heading {
    color: #fff;
    font-size: 1.25em;
    font-weight: 300;

    padding: var(--s2);
    padding-bottom: 0.2em;
}

.description {
    padding: var(--s2);
    padding-top: var(--s-2);
}

.targetasm {
    flex: 1;
    overflow: hidden;
    display: flex;
}

/* hide monaco's scrollbar minimap */
.targetasm :global(.decorationsOverviewRuler) {
    display: none;
}

.actions {
    display: flex;
    gap: .5em;
    align-items: center;
    padding: var(--s2);
}

.actionspacer {
    flex: 1;
}

.errormsg {
    padding-left: var(--s2);
    padding-right: var(--s2);
    max-height: 8em;
    overflow: auto;
    flex: 1;
    font-family: monospace;
    white-space: pre;
}

.textbox {
    background: #00000044;
    box-shadow: 0 2px 16px #00000022;
    border: 0;

    border-radius: .5rem;

    overflow: hidden;
}

.textbox * { padding: .6em 1em }

.textbox label {
    background:rgba(0, 0, 0, 0.1);
}

.textbox input {
    background: inherit;
    font: inherit;
    border: 0;

    font-family: monospace;
    font-size: .8rem;
}
