.container {
    padding: 32px;
    max-width: 700px;
    margin: 0 auto;

    user-select: auto;
    cursor: auto;

    display: flex;
    flex-direction: column;
    gap: 21px;

    line-height: 1.5;

    p,
    ul {
        color: var(--g1700);
        padding: 0;
        margin: 0;
    }
}

.heading {
    font-size: 3rem;
    font-weight: 400;
    color: var(--g1800);
}

.subheading {
    font-size: 1rem;
    font-weight: 600;
    color: var(--g1800);

    padding-bottom: 8px;
}

.contributors {
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.rule {
    border: 0;
    background: var(--g400);
    height: 1px;
}
