.container {
    flex-grow: 1;

    /* fix border-radius overflow */
    overflow: hidden;

    & :global(.monaco-editor),
    & :global(.monaco-editor-background),
    & :global(.margin),
    & :global(.inputarea.ime-input) {
        background-color: transparent !important;
    }

    /* weird box at top-left */
    & :global(.monaco-hover) {
        display: none;
    }

    & :global(.mac .monaco-mouse-cursor-text) {
        cursor: text !important;
    }

    & :global(.view-lines) {
        user-select: initial;
    }
}

.readonly {
    cursor: text;

    & :global(.cursor) {
        display: none !important;
    }
}
