.container {
    width: 100%;
    max-width: 50em;
    margin: 0 auto;
    padding: 0 0.5em;
}

.header {
    width: 100%;
    background: var(--g300);
}

.actions {
    padding: 0.5em 0;

    display: flex;
    justify-content: flex-end;

    > label {
        font-size: 0.9em;

        display: inline-flex;
        align-items: center;
        gap: 0.5em;
    }
}
