.errorPopup {
    font-size: 0.8rem;
    background: #bb4444;
    padding: 1rem;
    border-radius: 0.4rem;
    min-width: 6rem;

    display: flex;
    align-items: center;
    justify-content: center;
}
