html {
    font-size: 16px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    line-height: 1.5;
    text-rendering: optimizeQuality;

    --ratio: 1.25;
    --s-5: calc(var(--s-4) / var(--ratio));
    --s-4: calc(var(--s-3) / var(--ratio));
    --s-3: calc(var(--s-2) / var(--ratio));
    --s-2: calc(var(--s-1) / var(--ratio));
    --s-1: calc(var(--s0) / var(--ratio));
    --s0: 1rem;
    --s1: calc(var(--s0) * var(--ratio));
    --s2: calc(var(--s1) * var(--ratio));
    --s3: calc(var(--s2) * var(--ratio));
    --s4: calc(var(--s3) * var(--ratio));
    --s5: calc(var(--s4) * var(--ratio));
    --s6: calc(var(--s5) * var(--ratio));
    --s7: calc(var(--s6) * var(--ratio));
}

*, *::before, *::after {
    box-sizing: border-box;
    font-size: inherit;
    font-family: inherit;
}

* {
    margin: 0;
    padding: 0;
    color: inherit;
}

body {
    background: #0c0e12;
    color: rgb(201, 199, 209);
    line-height: var(--ratio);
    overflow: hidden;
    user-select: none;
}

#root {
    display: flex;
    height: 100vh;
}

#root > * {
    flex: 1;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "nav"
        "main";
}

#layers {
    z-index: 999;
}

nav {
    grid-area: nav;

    user-select: none;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1em;
}

main {
    grid-area: main;
    overflow: hidden;
}

button, .button {
    background: #00000044;
    color: #ffffffcc;

    border: 0;
    border-radius: 0.25rem;

    padding: .6em 1em;

    font-size: .8rem;

    user-select: none;
    appearance: none;
    text-decoration: none;

    display: inline-flex;
    gap: .5em;
    align-items: center;

    box-shadow: 0 2px 16px #00000022;
}

button, .button {
    cursor: pointer;
}

button[disabled] {
    color: #ffffff33;
    cursor: not-allowed;
}

button:active, .button:active {
    box-shadow: none;
}

label {
    font-size: var(--s-1);
}

.white, h1, h2, h3, h4, h5, h6, a:hover, a:active, button:not([disabled]):hover {
    color: #fff;
}

.red {
    color: #f34;
}

::selection {
    background: #ffffff22;
}

nav .button {
    background: #2A2A2A;
}
