html {
    font-size: 1rem;
    font-family: monospace;

    --ratio: 1.25;
    --s-5: calc(var(--s-4) / var(--ratio));
    --s-4: calc(var(--s-3) / var(--ratio));
    --s-3: calc(var(--s-2) / var(--ratio));
    --s-2: calc(var(--s-1) / var(--ratio));
    --s-1: calc(var(--s0) / var(--ratio));
    --s0: 1rem;
    --s1: calc(var(--s0) * var(--ratio));
    --s2: calc(var(--s1) * var(--ratio));
    --s3: calc(var(--s2) * var(--ratio));
    --s4: calc(var(--s3) * var(--ratio));
    --s5: calc(var(--s4) * var(--ratio));
    --s6: calc(var(--s5) * var(--ratio));
    --s7: calc(var(--s6) * var(--ratio));
}

*, *::before, *::after {
    box-sizing: border-box;
    font-size: inherit;
    font-family: inherit;
}

* {
    margin: 0;
    padding: 0;
    color: inherit;
}

body {
    background: rgb(20, 20, 20);
    color: #ccc;
    line-height: var(--ratio);
    overflow: hidden;
    height: 100vh;
    text-rendering: optimizeSpeed;
}

#root {
    display: flex;
    height: 100vh;
}

#root > * {
    flex: 1;
    display: grid;
    grid-template-rows: auto 1fr;
    padding: var(--s1);
    grid-template-areas:
        "nav"
        "main";
}

nav {
    grid-area: nav;

    user-select: none;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-bottom: var(--s1);
}

main {
    grid-area: main;
    overflow: hidden;
}

button {
    background: #000;
    color: #fff;
    border: 0.125rem solid;
    border-bottom: 0.2rem solid;
    border-radius: 0.25rem;
    padding: var(--s-4) var(--s-2);
    font-weight: 500;
    font-size: var(--s-1);
    cursor: pointer;
    transition: opacity 80ms ease-out;
    user-select: none;
}

button:not([disabled]):active {
    border-bottom: 0.125rem solid; /* TODO: use box shadow to maintain height */
}

button[disabled] {
    opacity: 0.4;
    cursor: not-allowed;
}

select {
    border: 0.1rem solid;
    border-radius: 0.15rem;
    background: transparent;
    outline: none !important;
    font-size: var(--s-1);
}

option, optgroup {
    background: black;
}

label {
    font-size: var(--s-2);
}

.white, h1, h2, h3, h4, h5, h6, a:hover, a:active {
    color: #fff;
}

.glow {
    text-shadow: 1px 1px 8px currentColor;
}

.red {
    color: #f34;
}

::selection {
    background: #2A2A2A;
}
