.nav {
    grid-area: nav; /* TODO remove */

    user-select: none;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    padding: 1em;
    gap: .5em;
}

.logotype {
    cursor: default;
    color: #0afafa;
    padding: 1em;
}

.grow {
    flex: 1;
}

.link {
    color: white;
    font-weight: 700;
    font-size: .85em;
}

.link:hover, .linkActive {
    opacity: 0.8;
}
