.header {
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    padding: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    background: var(--g300);
    border-bottom: 1px solid var(--g400);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    cursor: default;
}

.container {
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    padding: 1.5em;
    background: var(--g300);
}

.header:not([data-is-popup]),
.container:not([data-is-popup]) {
    border-radius: 0;
    background: transparent;

    /* border-bottom: 1px solid var(--g400); */
}

.row {
    display: flex;
}

.compilerSelect {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
}

.textbox {
    flex: 1;

    background: var(--g200);
    border: 1px solid var(--g400);
    border-left: 0;
    color: var(--frog-secondary);

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

    font-family: monospace;
    font-size: 0.8rem;

    padding: 0.6em 1em;

    outline: none !important;
}

.textbox::-webkit-input-placeholder {
    color: var(--g500);
}

.flags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    margin-top: 1em;
}

.flag {
    flex-grow: 1;
    display: inline-block;
    cursor: default;
    padding: 0.75em;
    border-radius: 12px;

    border: 1px solid transparent;
}

.flag:hover {
    background: var(--g250);
    border-color: var(--g500);
}

.flag label {
    font-size: 0.9rem;
    margin-left: 0.5em;
}

.flag input {
    pointer-events: none;
}

.flagDescription {
    display: block;
    font-size: 0.8em;
    color: var(--g800);
}

.flagSet {
    flex-grow: 1;

    display: inline-flex;
    flex-direction: column;

    width: 20em;
    border-radius: 0.5em;
}

.flagSetName {
    cursor: default;
    font-size: 0.8rem;
    padding: 0.6em 1em;
    padding-bottom: 0.2em;
    color: var(--g800);
}
