$pageWidth: 50em;

.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pageContainer > section {
    max-width: $pageWidth;
    width: 100%;
    padding: 1em;

    > h2 {
        margin-bottom: 1em;
    }
}

.header {
    background: var(--g300);

    user-select: auto;
    align-self: stretch;

    .headerInner {
        max-width: $pageWidth;
        margin: 0 auto;
        padding: 1.5em 1em;

        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 1em;
    }
}

.avatar {
    width: 64px;
    height: 64px;
    border-radius: 999px;
}

.name {
    font-size: 1.4em;
    font-weight: 600;
    cursor: default;
}

.username {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;

    color: var(--g1200);
    font-weight: 400;
}

.username a:hover {
    color: var(--g2000);
}

.tabs {
    height: auto;
    margin-bottom: 1em;
}

.scratchList {
    font-size: 0.8em;

    @media (min-width: $pageWidth) {
        --num-columns: 2;
    }
}
