.container {
    width: 100%;
    height: 100%;
}

.problems {
    display: flex;
    flex-direction: column;

    background: var(--g150);

    > h2 {
        font-size: 0.8rem;
        font-weight: 500;
        color: var(--g1200);

        padding: 0.8rem;
        margin: 0;

        border-bottom: 1px dashed var(--a50);
    }
}

.bar {
    cursor: row-resize;
    background: var(--a50);
}

.log {
    flex-grow: 1;

    padding: 0.8rem;

    overflow: auto;

    user-select: text;
    font-family: var(--monospace);
    font-size: 0.8rem;
    white-space: pre;
}
