.diff {
    height: 100%;

    overflow: auto;

    scrollbar-color: #fff3 transparent;
    scrollbar-width: thin;
}

.column {
    height: max-content;
    overflow: initial !important; /* overrides resizer.Section inline style */
}

.outdated {
    filter: grayscale(25%) brightness(70%);
}

.bar {
    cursor: col-resize;
    background: var(--a50);

    position: sticky !important; /* overrides resizer.Bar inline style */
    top: 0;
}

.row {
    padding: 0 4px;
    height: 1.25em;

    &.highlight {
        background-color: var(--a150);
    }
}

.header {
    display: flex;
    align-items: center;
    gap: 4px;

    height: 3em;
    padding: 0 1em;

    position: sticky;
    top: 0;

    font-size: 0.8rem;
    font-weight: 500;
    color: var(--g1200);
    border-bottom: 1px dashed var(--a50);

    backdrop-filter: blur(3px);

    user-select: none;
    cursor: default;
}

@supports not (backdrop-filter: blur(3px)) {
    .header {
        background: var(--g200);
    }
}

.body {
    flex: 1;
    overflow: auto;
    padding: 8px 0;

    user-select: text;
    font-family: monospace;
    font-size: 12px;
    white-space: pre;
}

.lineNumber {
    display: inline-block;

    color: var(--a300);

    min-width: 3ch;
    text-align: right;
}

.immediate { color: #6d6dff; }
.stack { color: #abc501; }
.register { color: #aa8b00; }

.delay_slot {
    font-weight: bold;
    color: #969896;
}

.diff_change { color: #6d6dff; }
.diff_add { color: #45bd00; }
.diff_remove { color: #c82829; }
.source_filename { font-weight: bold; }

.source_function {
    font-weight: bold;
    text-decoration: underline;
}

.source_other { font-style: italic; }
.source_line_num { font-style: italic; }
.rotation0 { color: magenta; }
.rotation1 { color: cyan; }
.rotation2 { color: rgb(0, 212, 0); }
.rotation3 { color: red; }
.rotation4 { color: rgb(103, 106, 255); }
.rotation5 { color: lightpink; }
.rotation6 { color: lightcyan; }
.rotation7 { color: lightgreen; }
.rotation8 { color: grey; }
