.container,
.log {
    display: block;
    user-select: text;
    border: none;
    font-family: monospace;
    font-size: 12px;
    white-space: pre;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;

    scrollbar-color: #fff3 transparent;
    scrollbar-width: thin;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.column {
    flex: 1;
    min-width: 190px;
    padding: 0 4px;
}

.header {
    text-align: center;
}

.header .column {
    margin: 4px;
    margin-bottom: 0;
    padding-bottom: 4px;
    border-bottom: 1px solid var(--a100);
}

.body {
    flex: 1;
    overflow: auto;
    padding: 8px 0;
}

.lineNumber {
    display: inline-block;

    color: var(--a300);

    min-width: 3ch;
    text-align: right;
}

.immediate { color: #6d6dff; }
.stack { color: #abc501; }
.register { color: #aa8b00; }

.delay_slot {
    font-weight: bold;
    color: #969896;
}

.diff_change { color: #6d6dff; }
.diff_add { color: #45bd00; }
.diff_remove { color: #c82829; }
.source_filename { font-weight: bold; }

.source_function {
    font-weight: bold;
    text-decoration: underline;
}

.source_other { font-style: italic; }
.source_line_num { font-style: italic; }
.rotation0 { color: magenta; }
.rotation1 { color: cyan; }
.rotation2 { color: rgb(0, 212, 0); }
.rotation3 { color: red; }
.rotation4 { color: rgb(103, 106, 255); }
.rotation5 { color: lightpink; }
.rotation6 { color: lightcyan; }
.rotation7 { color: lightgreen; }
.rotation8 { color: grey; }
