name: PR
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  reviewdog:
    name: reviewdog
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: reviewdog/action-setup@v1
      - run: cd frontend && yarn
      - run: pip install -r backend/requirements.txt
      - run: reviewdog -reporter=github-check
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  backend_test:
    name: backend tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v1
        with:
          python-version: 3.9
      - name: Install Python dependencies
        run: pip install -r backend/requirements.txt
      - name: Add i386 architecture and install dependencies
        run: |-
          sudo dpkg --add-architecture i386
          sudo apt-key adv --keyserver keyserver.ubuntu.com --recv-keys 86B72ED9
          sudo add-apt-repository 'deb [arch=amd64] https://mirror.mxe.cc/repos/apt focal main'
          sudo apt -qq update
          sudo apt install -y --allow-downgrades libpcre2-8-0=10.34-7
          sudo apt install -y wine
          sudo apt-get install \
            binutils-mips-linux-gnu \
            dos2unix \
            libprotobuf-dev \
            libnl-route-3-dev \
            protobuf-compiler
      - name: Install nsjail
        run: |-
          git clone --recursive --branch=3.0 https://github.com/google/nsjail
          make -C nsjail
          sudo cp nsjail/nsjail /usr/bin/
      - name: Download compilers
        run: |-
          ./backend/compilers/download.sh
          ./backend/compilers/mwccppc.sh
          ./backend/compilers/mwccarm.sh
      - name: Install dkp dependencies (ppc)
        run: |-
          mkdir -p bin
          docker run \
            -v $(pwd)/bin:/tmp/bin \
            --entrypoint /bin/sh \
            devkitpro/devkitppc:20210726 \
            -c "cp /opt/devkitpro/devkitPPC/bin/powerpc* /tmp/bin"
          sudo mv bin/powerpc* /usr/bin/
      - name: Install dkp dependencies (arm)
        run: |-
          mkdir -p bin
          docker run \
            -v $(pwd)/bin:/tmp/bin \
            --entrypoint /bin/sh \
            devkitpro/devkitarm:20210726 \
            -c "cp /opt/devkitpro/devkitARM/bin/arm* /tmp/bin"
          sudo mv bin/arm* /usr/bin/
      - name: Run tests
        run: |-
          mkdir -p "${WINEPREFIX}"
          wineboot --init
          python backend/manage.py test backend
        env:
          SYSTEM_ENV: GITHUB_WORKFLOW
          WINEPREFIX: /tmp/wine

  backend_test_windows:
    name: backend tests (windows)
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v1
        with:
          python-version: 3.9
      - name: Install Python dependencies
        run: pip install -r backend/requirements.txt
      - name: Run tests
        run: |-
          python backend/manage.py test backend
        env:
          SYSTEM_ENV: GITHUB_WORKFLOW

  backend_test_docker:
    name: backend tests (docker)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build decompme_backend image
        run: |-
          docker build backend \
            -t decompme_backend \
            --build-arg ENABLE_GC_WII_SUPPORT=YES \
            --build-arg ENABLE_PS1_SUPPORT=YES
      - name: Run tests
        run: |-
          mkdir -p sandbox && chmod 777 sandbox
          docker run \
            -v $(pwd):/decomp.me \
            --security-opt apparmor=unconfined \
            --security-opt seccomp=unconfined \
            --entrypoint /bin/bash \
            -e COMPILER_BASE_PATH=/compilers \
            -e WINEPREFIX=/tmp/wine \
            decompme_backend -c 'cd /decomp.me && python backend/manage.py test backend'

  frontend_test:
    name: frontend tests
    runs-on: ${{ matrix.config.os }}
    strategy:
      matrix:
        config:
          - os: ubuntu-latest
          #- os: windows-latest
    steps:
      - uses: actions/checkout@v2
      - run: cd frontend && yarn
        name: Install dependencies
      - run: cd frontend && yarn test:ci
        name: Run tests
